@import "tailwindcss";

@theme {
  --color-gray-900: #323334;

  --color-blue-950: #242942;
  --color-blue-100: #EDF2F6;

  --color-red-400: #FF5E5E;
  --color-red-350: #FF8686;

  --font-barlow: "Barlow", sans-serif;
  --font-cond: "Barlow Condensed", serif;
  --text-base: 15px;
  --leading-base: 120%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Barlow Condensed", serif;
}